In [ ]:
#Tokenizer
import nltk
nltk.download('punkt')
from nltk import word_tokenize, sent_tokenize
sent = "I will walk 500 miles and I would walk 500 more, just to be the man who walks a thousand miles to fall down at your door! "
print(word_tokenize(sent))
print(sent_tokenize(sent))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
['I', 'will', 'walk', '500', 'miles', 'and', 'I', 'would', 'walk', '500', 'more', ',', 'just', 'to', 'be', 'the', 'man', 'who', 'walks', 'a', 'thousand', 'miles', 'to', 'fall', 'down', 'at', 'your', 'door', '!']
['I will walk 500 miles and I would walk 500 more, just to be the man who walks a thousand miles to fall down at your door!']

In [ ]:
#Stop words
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
token = word_tokenize(sent)
cleaned_token = []
for word in token:
  if word not in stop_words:
    cleaned_token.append(word)

print("This is the unclean version:",token)
print("This is the cleaned version:",cleaned_token)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
This is the unclean version: ['I', 'will', 'walk', '500', 'miles', 'and', 'I', 'would', 'walk', '500', 'more', ',', 'just', 'to', 'be', 'the', 'man', 'who', 'walks', 'a', 'thousand', 'miles', 'to', 'fall', 'down', 'at', 'your', 'door', '!']
This is the cleaned version: ['I', 'walk', '500', 'miles', 'I', 'would', 'walk', '500', ',', 'man', 'walks', 'thousand', 'miles', 'fall', 'door', '!']

In [ ]:
#Stemming 

from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
words = ['play','playing','plays','played','playfullness','playful']
stemmed = [stemmer.stem(word) for word in words]
print(stemmed)

['play', 'play', 'play', 'play', 'playful', 'play']

In [ ]:
#Tagging Parts of Speech(pos)
import nltk
nltk.download('averaged_perceptron_tagger')
from nltk import pos_tag
token = word_tokenize(sent) + word_tokenize(sent)
tagged = pos_tag(cleaned_token)
print(tagged)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('I', 'PRP'), ('walk', 'VBP'), ('500', 'CD'), ('miles', 'NNS'), ('I', 'PRP'), ('would', 'MD'), ('walk', 'VB'), ('500', 'CD'), (',', ','), ('man', 'NN'), ('walks', 'NNS'), ('thousand', 'VBP'), ('miles', 'NNS'), ('fall', 'VB'), ('door', 'NN'), ('!', '.')]

In [ ]:
#Lemmatization
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
words = ['play','playing','plays','played','playfullness','playful']
lemmatized = [lemmatizer.lemmatize(word) for word in words]
print(lemmatized)
print('\n')
list1 = ['kites', 'babies', 'dogs', 'flying', 'smiling','driving', 'died', 'tried', 'feet']
l = [lemmatizer.lemmatize(li) for li in list1]
print(l)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
['play', 'playing', 'play', 'played', 'playfullness', 'playful']


['kite', 'baby', 'dog', 'flying', 'smiling', 'driving', 'died', 'tried', 'foot']

In [ ]:
#part 2
#tf and idf

import pandas as pd
import sklearn as sk
import math

first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning is the key for data science"

first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")
total= set(first_sentence).union(set(second_sentence))
print(total)

{'of', 'science', 'Science', 'machine', 'job', 'learning', 'the', 'for', 'key', 'data', '21st', 'is', 'sexiest', 'century', 'Data'}

In [ ]:
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
for word in first_sentence:
    wordDictA[word]+=1
    
for word in second_sentence:
    wordDictB[word]+=1

In [ ]:
pd.DataFrame([wordDictA, wordDictB])

,of,science,Science,machine,job,learning,the,for,key,data,21st,is,sexiest,century,Data
0,1,0,1,0,1,0,2,0,0,0,1,1,1,1,1
1,0,1,0,1,0,1,1,1,1,1,0,1,0,0,0

In [ ]:
#tf
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)

tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)

tf = pd.DataFrame([tfFirst, tfSecond])

tf

,of,science,Science,machine,job,learning,the,for,key,data,21st,is,sexiest,century,Data
0,0.1,0.000,0.1,0.000,0.1,0.000,0.200,0.000,0.000,0.000,0.1,0.100,0.1,0.1,0.1
1,0.0,0.125,0.0,0.125,0.0,0.125,0.125,0.125,0.125,0.125,0.0,0.125,0.0,0.0,0.0

In [ ]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
filtered_sentence = [w for w in wordDictA if not w in stop_words]
print(filtered_sentence)

['science', 'Science', 'machine', 'job', 'learning', 'key', 'data', '21st', 'sexiest', 'century', 'Data']

In [ ]:
#idf
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / (float(val) + 1))
        
    return(idfDict)

idfs = computeIDF([wordDictA, wordDictB])
idfs

{'21st': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'Science': 0.3010299956639812,
 'century': 0.3010299956639812,
 'data': 0.3010299956639812,
 'for': 0.3010299956639812,
 'is': 0.3010299956639812,
 'job': 0.3010299956639812,
 'key': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'machine': 0.3010299956639812,
 'of': 0.3010299956639812,
 'science': 0.3010299956639812,
 'sexiest': 0.3010299956639812,
 'the': 0.3010299956639812}

In [ ]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)

idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)

idf= pd.DataFrame([idfFirst, idfSecond])
print(idf.to_string())

         of   science   Science   machine       job  learning       the       for       key      data      21st        is   sexiest   century      Data
0  0.030103  0.000000  0.030103  0.000000  0.030103  0.000000  0.060206  0.000000  0.000000  0.000000  0.030103  0.030103  0.030103  0.030103  0.030103
1  0.000000  0.037629  0.000000  0.037629  0.000000  0.037629  0.037629  0.037629  0.037629  0.037629  0.000000  0.037629  0.000000  0.000000  0.000000